/* regole generali */

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.page {
  display: flex;
  /* debug */
  height: 100vh;
  background-image: linear-gradient( to bottom,#009687 ,#009687 14vh, #d7dbd6 14vh, #d7dbd6 100%);
  /* fine debug */
}
.container {
 display: flex;
 width: 85%;
 min-width: 900px;
 height: 90%;
 box-shadow: 0 2px 2px 2px #c6c7c1;
 margin:auto;
}

/* regole aside */
.left,.right{
  /* debug */
  height: 100%;
  /* fine debug */
}

.left {
  display: flex;
  flex-direction: column;
  width: 35%;
  /* debug */
  background: white;
  /* fine debug */
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  /* debug */
  background: lightgrey;
  /* fine deb*/
}

/* Regole aside blocchi interni parte sinistra*/
.upper_left > .notifiche {
  height: 80px;
  width: 100%;
}

.upper_left > .nome_user{
  height: 60px;
  width: 100%;
  /* debug */
  background: lightgrey;
  /* fine debug */
}
.upper_left > .search_user {
  height: 40px;
  width: 100%;
}

/* regole blocchi interni .upper_left */

 /* Nome user  */
.nome_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nome_user_img {
  display: flex;
  align-items: center;
}
.nome_user_img img{
  height: 50px;
  border-radius: 50%;
  margin:0 15px;
}
.nome_user_icons i {
  margin-right:15px;
}

/* notifiche */
.notifiche {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #8edafd;
}
.notifiche_img {
  font-size: 20px;
  margin: 15px;
  color:#8edafd;
  border-radius: 50%;
  background-color:white;
  padding: 10px;
}

.notifiche_text a{
  text-decoration: underline;
  color:grey;
}

/* search user */
.search_user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  /* debug */
  background: white;
    /* fine debug */
}
.search_icon{
  margin: 0 10px;
}
.search_input {
  width: 100%;
}
.search_input > input {
  width: 100%;
  border:0;
}
/* regole chat sinitra aside */
.chat {
  overflow-y:auto;
}
.conversazione {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding: 10px 20px;
}
.conversazione_img img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.conversazione_dati {
  margin-left: 20px;
  width: 100%;
}
.dati_utente {
  display: flex;
  justify-content: space-between;
}
/* regole main blocchi interni parte destra */

/* barra superiore nome user chat */
.right > .user_chat {
  height: 60px;
}

.user_chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icone_chat > i {
  margin-right: 20px;
}

/* section conversazione */

section{
  background-image: url("../img/mine.jpg");
  height: 100%;
  background-size:auto;
  overflow-y: auto;
}

.chat_section{
  width: 80%;
  margin:auto;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 30px;
}

.messaggi{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  max-width: 40%;
}

.mandati {
  align-self: flex-end;
  background: #dcf8c6;
}
.ricevuti {
  align-self: flex-start;
  background: white;
}

.data_msg {
  align-self: flex-end;
  font-size: 10px;
}

/* sezione user_chat_box */

.user_chat_box {
  display: flex;
  text-align: center;
  align-items: center;
  min-height: 60px;
}

.user_chat_input {
  width: 80%;
}
.user_chat_input > input{
  width: 100%;
  height: 40px;
}
.user_chat_icon {
  width: 10%;
}
