/* regole generali */

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  /* debug */
  border:1px solid black;
  /* fine deb*/
}
.page {
  display: flex;
  /* debug */
  height: 100vh;
  background-image: linear-gradient( to bottom,#009687 ,#009687 14vh, #d7dbd6 14vh, #d7dbd6 100%);
  /* fine debug */
}
.container {
 display: flex;
 width: 85%;
 min-width: 900px;
 height: 90%;
 box-shadow: 0 2px 2px 2px #c6c7c1;
 margin:auto;
}

/* regole aside */
.left,.right{
  /* debug */
  height: 100%;
  /* fine debug */
}

.left {
  display: flex;
  flex-direction: column;
  width: 35%;
  /* debug */
  background: lightgreen;
  /* fine debug */
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  /* debug */
  background: pink;
  /* fine deb*/
}

/* Regole aside blocchi interni parte sinistra*/
.upper_left > .nome_user,
.upper_left > .notifiche {
  height: 80px;
  width: 100%;
}
.upper_left > .search_user {
  height: 50px;
  width: 100%;
}

/* regole blocchi interni .upper_left */

 /* Nome user  */
.nome_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nome_user_img img{
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}
.nome_user_icons i {
  margin-right:15px;
}

/* notifiche */
.notifiche {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #8edafd;
}
.notifiche_img {
  font-size: 20px;
  margin: 15px;
  color:#8edafd;
  border-radius: 50%;
  background-color:white;
  padding: 10px;
}

.notifiche_text a{
  text-decoration: underline;
  color:grey;
}

/* search user */
.search_user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  /* debug */
  background: white;
    /* fine debug */
}
.search_icon{
  margin: 0 10px;
}
.search_input {
  width: 100%;
}
.search_input > input {
  width: 100%;
  border:0;
}
/* regole chat sinitra aside */
.chat {
  overflow-y:auto;
}

li {
  height: 60px;
}
/* regole main blocchi interni parte destra */

.right > .user_chat {
  height: 80px;
}
