<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous" />
      <link rel="stylesheet" href="css/style.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <title>Boolzap</title>
    </head>
    <body>

      <div class="page"> <!-- sfondo pagina -->

        <div id="root" class="container">  <!-- container centrale -->

         <!-- ///////// PARTE SINISTRA ///////// -->
         <aside class="left"> <!-- parte sx container -->
           <div class="upper_left"> <!-- blocco up sx container -->

             <div class="nome_user"> <!-- barra nome user -->
               <div v-for="item in me" class="nome_user_img"> <!-- box logo user -->

                 <img :src="item.img" alt="nome_user_img">
                 <span>{{item.name}}</span>

               </div>
               <div class="nome_user_icons"> <!-- box logo user icons -->

                 <i class="fas fa-user-plus" @click="addUser"></i>
                 <i class="fas fa-circle-notch"></i>
                 <i class="fas fa-comment-alt"></i>
                 <i class="fas fa-ellipsis-v"></i>

               </div>

               <!-- // TEST ADD USER  -->
               <div class="add_user" :class="visible? 'show':'hide'">
                 <div class="delete_friend">
                      <i class="fas fa-times" @click="deleteUser"></i>
                 </div>

                 <h3>Inserisci il nome del nuovo utente</h3>
                 <input type="text" name="" value="" v-model="newUser.name">
                 <button type="button" name="button" @click="addFriend">Aggiungi</button>
               </div>

             </div>
             <div class="notifiche"> <!-- barra notifiche-->

               <div class="notifiche_img"> <!-- notifiche logo-->

                 <i class="fas fa-bell-slash"></i>

               </div>
               <div class="notifiche_text"> <!-- testo notifiche-->

                 <h3>Ricevi notifiche di nuovi messaggi</h3>
                 <a href="#">Attiva notifiche desktop</a>

               </div>

             </div>
             <div class="search_user"> <!-- barra nome user -->

              <div class="search_icon"> <!-- icon search -->

                <i class="fas fa-search"></i>

              </div>
              <div class="search_input"> <!-- barra input search -->

                <input type="text" name="" value="" placeholder="Cerca o inizia nuova chat...">

              </div>

             </div>

           </div>
           <ul id="scroll" class="chat"> <!-- blocco chat sx aside -->
              <!-- per ogni elemento dell'array avrò una lista di utenti con tutte le loro proprietà -->
             <li v-for="(user,index) in users"  @click="selUser(index)" class="conversazione"> <!-- conversazione -->
               <div class="conversazione_img"> <!-- conversazione logo -->

                 <img :src="user.img" alt="conversazione_1">

               </div>
               <div class="conversazione_dati"> <!-- dati conversazione -->
                 <div class="dati_utente"> <!-- nome utente conversazione -->

                   <h3>{{user.name}}</h3><span>{{user.chat[user.chat.length - 1].time}}</span>

                 </div>
                 <div class="dati_chat"> <!-- conversazione utente -->

                   <p>{{user.chat[user.chat.length - 1].msg}}</p>

                 </div>

               </div>
             </li>

           </ul>

         </aside>

         <!-- /////// PARTE DESTRA ////////// -->
         <main class="right"> <!-- parte dx container -->

           <div class="user_chat"> <!-- barra nome user chat -->

             <div class="chat_attiva"> <!-- conversazione -->
               <div class="conversazione_img"> <!-- conversazione logo -->

                 <img :src="users[selected].img" alt="conversazione_1">
                 <!-- prenderà l'img a seconda dell'index cliccato -->

               </div>
               <div class="conversazione_dati"> <!-- dati conversazione -->
                 <div class="dati_utente"> <!-- nome utente conversazione -->

                   <h3>{{users[selected].name}}</h3>
                   <!-- prenderà la proprietà nome dell'index selezionato -->

                 </div>
                 <div class="connessione_utente"> <!-- connessione utente -->

                   <p>Ultimo accesso oggi alle {{users[selected].chat[users[selected].chat.length -1].time}}</p>
                   <!-- prenderà ogni ultimo elemento "time" della lunghezza dell'array "chat" dell'index seleionato-->

                 </div>

               </div>
             </div>
             <div class="icone_chat"> <!-- icone barra chat utente -->

               <i class="fas fa-search"></i>
               <i class="fas fa-paperclip"></i>
               <i class="fas fa-ellipsis-v"></i>

             </div>

           </div>
           <section>

             <ul class="chat_section"> <!-- chat con l'utente -->
               <li v-for="(msg,index) in users[selected].chat" class="messaggi":class=" msg.send == 1 ?'mandati':'ricevuti'"> <!-- msg mandato -->

                 <div class="msg_text">
                   <h4>{{msg.msg}}</h4>
                 </div>
                 <div class="data_msg">
                   <p>{{msg.time}}</p>
                 </div>

               </li>

             </ul>

           </section>
           <div class="user_chat_box"> <!-- barra nome user chat -->

             <div class="user_chat_icon">

               <i class="far fa-smile"></i>

             </div>
             <div class="user_chat_input">
               <input type="text" name="" value="" placeholder="Scrivi un messaggio" v-model="newMsg.msg" v-on:keyup.13="enterMsg">
             </div>
             <div class="user_chat_icon">

               <i class="fas fa-microphone" @click="enterMsg"></i>

             </div>

           </div>



         </main>

        </div> <!-- fine container -->

      </div> <!-- fine sfondo pagina -->

    <script src="js/script.js"></script>

    </body>
</html>
